:root {
    --vp-c-brand: #3b82f6;
    --vp-c-brand-light: #3b82f6;
    --vp-c-brand-lighter: #3b82f6;
    --vp-c-brand-dark: #2563eb;
    --vp-c-brand-darker: #2563eb;
    --vp-c-sponsor: #2563eb;
  }